.jumbotron {
	background-color: #bdbdbd;
	margin-top: 35px;
}

.img-fluid {
	display: block;
	margin: auto;
	width: 80%;
	height: 300px;
}

.breadcrumb{
	margin-top: -50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #1c2a48;
	margin-bottom: 0px;
	margin-top: 20px;
	color: white;
}

.card-hotel {
	flex: 1 350px;
	padding: 2px 10px 2px 10px;
	margin: 10px 10px 10px 10px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	border-radius: 6px;
	text-align: justify;
    overflow: hidden;
    transition: all 0.25s;
    margin-bottom: 15px;

}

.card-hotel:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.i-cards{
	width: 280px;
	height: 150px;
	display: block;
	margin: auto;
}

.card-text{
	margin-top: 20px;
}

.btn-reserva {
	display: block;
	margin: auto;
	margin-bottom: 10px;
	width: 50%;
	
}
.navbar{
	background-color: #45526e;
}

.icon {
	padding-right: 10px;
}

.table {
	text-align: center;
}

.thead {
	background-color: #1c2a48;
	color: white;
}

.tab-content {
	padding-top: 10px;
}

.btn-coll {
	display: block;
	margin: auto;
	margin-top: 10px;
}


