$blue1: #51648c;
$blue2: #45526e;
$blue3: #1c2a48;
$white: #ffffff;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin espacios($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}


.jumbotron {
	background-color: $blue1;
	color: $white;
	@include margenes(35px, 0px);
}

.img-fluid {
	display: block;
	margin: auto;
	width: 80%;
	height: 300px;
}

.breadcrumb{
    background-color: $blue2;
	@include margenes(-25px, 0px);
}

footer {
	background-color: $blue3;
	color: white;
	@include margenes(20px, 0px);
	@include espacios(10px, 10px, 0, 10px);
}

.card-hotel {
	flex: 1 350px;
	margin: 10px 10px 10px 10px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	border-radius: 6px;
	text-align: justify;
    overflow: hidden;
    transition: all 0.25s;
    @include margenes(0px, 15px);
    @include espacios(2px, 10px, 2px, 10px);

}

.card-hotel:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.i-cards{
	width: 280px;
	height: 150px;
	display: block;
	margin: auto;
}

.card-text{
	@include margenes(20px, 0px);
}

.btn-reserva {
	display: block;
	margin: auto;
	width: 50%;
	@include margenes(0px, 10px);
	
}
.navbar{
	background-color: #45526e;
}

.icon {
	@include espacios(0, 10px, 0, 0);
}

.table {
	text-align: center;
}

.thead {
	background-color: #1c2a48;
	color: white;
}

.tab-content {
	@include espacios(10px, 0, 0, 0);
}

.btn-coll {
	display: block;
	margin: auto;
	@include margenes(10px, 0px);
}


