@blue1: #51648c;
@blue2: #45526e;
@blue3: #1c2a48;
@blue4: #1c2331;
@white: #ffffff;

.margenes(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px, ){
  margin-top: @top;
  margin-right: @right;
  margin-bottom: @bottom;
  margin-left: @left;
}

.espacios(@top, @right, @bottom, @left){
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}

.jumbotron {
  background-color: @blue1;
  color: @white;
  .margenes(35px, 0px);
}

.img-fluid {
  display: block;
  margin: auto;
  width: 80%;
  height: 300px; 
}

.breadcrumb {
  background-color: @blue2;
  .margenes(-25px, 0px); 
}

footer {
  background-color: @blue3;
  color: @white; 
  .margenes(20px, 0px);
  .espacios(10px, 10px, 0, 10px);
}

.card-hotel {
  flex: 1 350px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  text-align: justify;
  overflow: hidden;
  transition: all 0.25s; 
  .margenes(15px, 10px, 15px, 10px);
  .espacios(2px, 10px, 2px, 10px);
}

.card-hotel:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); 
}

.i-cards {
  width: 280px;
  height: 150px;
  display: block;
  margin: auto; 
}

.card-text { 
  .margenes(20px, 0px);
}

.btn-reserva {
  display: block;
  margin: auto;
  width: 50%;

  
}

.navbar {
  background-color: @blue2; 
}

.icon {
  .espacios(0px, 10px, 0, 10px); 
}

.table {
  text-align: center; 
}

.thead {
  background-color: #1c2a48;
  color: white; 
}

.tab-content {
  .espacios(10px, 0, 0, 0); 
}

.btn-coll {
  display: block;
  margin: auto; 

}

.footer-copyright {
  background-color: @blue4; 
}
