.jumbotron {
  background-color: #51648c;
  color: #ffffff;
  margin-top: 35px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.img-fluid {
  display: block;
  margin: auto;
  width: 80%;
  height: 300px;
}
.breadcrumb {
  background-color: #45526e;
  margin-top: -25px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
footer {
  background-color: #1c2a48;
  color: #ffffff;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
}
.card-hotel {
  flex: 1 350px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  text-align: justify;
  overflow: hidden;
  transition: all 0.25s;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
}
.card-hotel:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.i-cards {
  width: 280px;
  height: 150px;
  display: block;
  margin: auto;
}
.card-text {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.btn-reserva {
  display: block;
  margin: auto;
  width: 50%;
}
.navbar {
  background-color: #45526e;
}
.icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
}
.table {
  text-align: center;
}
.thead {
  background-color: #1c2a48;
  color: white;
}
.tab-content {
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.btn-coll {
  display: block;
  margin: auto;
}
.footer-copyright {
  background-color: #1c2331;
}
